/* CSS để hiển thị phần giỏ hàng */
#cart {
    display: none;
    position: fixed;
    top: 50px;
    right: 10px;
    width: 300px;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 999;
}

#cart.show {
    display: block;
}

/* CSS cho nút xóa sản phẩm */
.remove-button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.remove-button:hover {
    background-color: #cc0000;
}
